// sans-serif
$arial: Arial,
"Helvetica Neue",
Helvetica,
sans-serif;
$helvetica: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$lucidagrande: "Lucida Grande",
"Lucida Sans Unicode",
"Lucida Sans",
Geneva,
Verdana,
sans-serif;
$trebuchet: "Trebuchet MS",
"Lucida Grande",
"Lucida Sans Unicode",
"Lucida Sans",
Tahoma,
sans-serif;
$verdana: Verdana,
Geneva,
sans-serif;
// serif
$baskerville: Baskerville,
"Baskerville Old Face",
"Hoefler Text",
Garamond,
"Times New Roman",
serif;
$georgia: Georgia,
Times,
"Times New Roman",
serif;
$lucidabright: "Lucida Bright",
Georgia,
serif;
$tnr: TimesNewRoman,
"Times New Roman",
Times,
Baskerville,
Georgia,
serif;
// monospaced
$consolas: Consolas,
monaco,
monospace;
$courier: "Courier New",
Courier,
"Lucida Sans Typewriter",
"Lucida Typewriter",
monospace;
$monaco: Monaco,
Consolas,
"Lucida Console",
monospace;
// User defined ------------------------------------------ //
// overwrite defaults for modular scale
// http://www.modularscale.com/
$ms-base: 1em;
$ms-ratio: 1.2;
// Base font attributes ---- //
$font-family:;
$font-size: 16;
$font-lineheight: 1.6;
// Font Stacks ----------- //
$body-font: 'Barlow',
sans-serif;
// $body-font-italic: ;
// $body-font-bold: 'Overpass', sans-serif;
$heading-font: 'Poppins',
sans-serif;
// $heading-font-bold: 'Poppins', sans-serif; 
// $alt-font-bold: akrobat-bold,
// sans-serif;
$alt-font-bold: 'Barlow Condensed',
sans-serif;
// $alt-font-semibold: akrobat-semibold,
// sans-serif;
$alt-font-semibold: 'Barlow Condensed',
sans-serif;
// Base colours ---- s represents 'Site' //
$white: #FFFFFF;
$black: #2f2f2f;
$base: #0d84f2;
$base-light: lightsteelblue;
$base-dark: navy;
$comp: red;
$grey: #888888;
$l-grey: #f5f5f5;
//links
$link: blue;
$link-focus: green;
$link-hover: purple;
//paths
$img-path: "../images";
$svg-path: "../images/svg";
$font-path: "../fonts";