.main-content{
	max-width: 1000px;
	margin: auto;
	ul{
	    list-style-type: disc;
	    margin-left: 1.25rem;
	    line-height: 1.6;
	    margin-bottom: 1rem;
	    li{
	    	display: list-item;
	    }
	}
	ul{
	    list-style-type: decimal;
	    margin-left: 1.25rem;
	    line-height: 1.6;
	    margin-bottom: 1rem;
	    li{
	    	display: list-item;
	    }
	}
}


.split-section{
    @include clearfix;
    padding: 2em 0;
    @include respond-to(600){
        padding: 3em 0;
    }
    &__image,&__content{
        @include respond-to(820){
            width: 50%;
            float: left;
            padding: 0 2.5%;
        }
        @include respond-to(1260){
            padding: 0 5%;
        }
    }
    &__content{
        opacity: 0;
        transform: translateX(20px);
        margin-top: 2em;
        @include respond-to(600){
            padding: 0 2.5em;
        }
        @include respond-to(820){
            margin-top: 0;
            transform: translateX(100px);
        }
	}
    &.reverse{
        .split-section__image{
            @include respond-to(820){
                float: right;
            }
        }
    }
    .flexbox &{
        @include respond-to(820){
            display: flex;
            align-items: center;
            &.reverse{
                flex-direction: row-reverse;
            }
        }
    }
}
