.home-panels {
    >section {
        // min-height: 50vh;
        overflow: hidden;
        display: flex!important;
        align-items: center;
        @include respond-to(620) {
            // min-height: 100vh;
        }
    }
}

.hero {
    background-image: radial-gradient(at 73% 35%, rgba(235, 235, 235, 0.1), transparent 60%);
    background-position: 30% 75%;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    @include respond-to(600) {
        background-image: radial-gradient(at 73% 35%, rgba(235, 235, 235, 0.15), transparent 60%);
    }
    .bottom-title {
        position: absolute;
        bottom: -1rem;
        left: 0;
        font-family: $heading-font;
        font-weight: 700;
        font-size: ms(10); // opacity: 0.05;
        line-height: 0.8;
        line-height: 1;
        opacity: 0;
        transform: translateY(20px);
        transition: transform 400ms ease-out 2800ms, opacity 400ms ease-out 2800ms; // color: transparent;
        // -webkit-text-stroke-color: #fff;
        // -webkit-text-stroke-width: 2px;
        @include respond-to(480) {
            font-size: ms(12);
            bottom: -2rem;
        }
        @include respond-to(620) {
            left: auto;
            right: 0;
        }
        .page-loaded & {
            opacity: 0.025;
            transform: translateY(0);
        }
    }
    &__content {
        padding: 10em 13% 2em;
        @include respond-to(480) {
            padding: 4em calc(100% / 6);
            width: 100%;
        }
        &--inner {
            max-width: 30em;
            position: relative;
            margin-top: 1em;
            width: 100%; // width: calc(100% / 6 * 2);
            @include respond-to(820) {
                margin-top: 4em;
            }
            @include respond-to(1400) {
                font-size: calc(1em + 0.5vh);
            }
        }
        span {
            opacity: 0;
            display: inline-block;
        }
        .char1 {
            transform: rotate3d(1, 0, 0, 90deg);
            transform-origin: 50% 100%;
            .page-loaded & {
                animation: stand-up 400ms ease-out both;
            }
        }
        .char2 {
            transform: scaleY(0);
            transform-origin: top;
            .page-loaded & {
                animation: grow-up 400ms ease-out forwards;
            }
        }
        .char3 {
            width: 0.15em;
        }
        .char4 {
            transform: translateX(20px);
            .page-loaded & {
                animation: fade-in-right 400ms ease-out forwards;
            }
        }
        .char5 {
            transform: translateY(-100px);
            .page-loaded & {
                animation: fade-in-down-big 400ms ease-out forwards;
            }
        }
        .char6 {
            transform: scale(0);
            .page-loaded & {
                animation: grow-up 400ms ease-out forwards;
            }
        }
        .char7 {
            transform: translateY(-50%);
            .page-loaded & {
                animation: bounceDown 600ms cubic-bezier(0.465, 0.405, 0.250, 1.265) forwards;
            }
        }
        .char8 {
            transform: rotateY(980deg);
            .page-loaded & {
                animation: spin 600ms ease-out forwards;
            }
        }
        .char9 {
            opacity: 0;
            transform: rotateX(-110deg);
            transform-origin: center top;
            .page-loaded & {
                animation: swingIn 1200ms ease-in-out forwards;
            }
        } // .char1,.char2{
        //     color: transparent;
        //     -webkit-text-stroke-color: #fff;
        //     -webkit-text-stroke-width: 2px;
        // }
        .char4,
        .char5,
        .char6,
        .char7,
        .char8,
        .char9 {
            color: transparent;
            -webkit-text-stroke-color: #fff;
            -webkit-text-stroke-width: 2px;
        }
    }
    h1 {
        font-size: ms(7);
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0.3em;
        line-height: 1;
        white-space: nowrap; // transform-style: preserve-3d;
        perspective: 1000px;
        perspective-origin: bottom center;
        @include respond-to(420) {
            font-size: ms(8);
        }
        @include respond-to(640) {
            font-size: ms(9);
        }
        @include respond-to(700) {
            font-size: ms(10);
        }
        @include respond-to(1400) {
            margin-bottom: 0.2em;
        }
    }
    h3 {
        font-family: $body-font; // font-size: ms(2);
        font-size: ms(1);
        letter-spacing: 0.25px; // opacity: 0.5;
        opacity: 0;
        margin-top: 0;
        margin-bottom: 1em;
        padding-left: 1.5rem;
        transition: transform 750ms ease-out 2950ms, opacity 750ms ease-out 2950ms;
        transform: translateY(20px);
        @include respond-to(480) {
            margin-bottom: 3em;
        }
        @include respond-to(920) {
            padding-left: 2rem;
        }
        @include respond-to(1400) {
            margin-bottom: 2.5em;
        }
    }
    .button {
        transform: scaleX(0);
        transform-origin: left;
        margin-left: 1.5rem;
        transition: transform 600ms ease-out 3000ms;
        @include respond-to(920) {
            margin-left: 2rem;
        } // &:before {
        //     opacity: 0;
        //     transition: opacity 400ms ease-out 3900ms;
        // }
        a {
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: $base;
                transition: width 500ms ease-out 3600ms, opacity 100ms ease-out 4100ms;
            }
        }
    }
    .scroll {
        position: absolute; // bottom: 14%;
        bottom: 5em;
        right: -4%;
        right: -50px;
        font-family: $heading-font;
        font-weight: 600;
        font-size: ms(-1);
        transform: rotate(90deg);
        overflow: hidden;
        z-index: 100;
        color: #fff;
        opacity: 0;
        transition: opacity 500ms ease-out 300ms, right 800ms ease-out 400ms;
        @include respond-to(420) {
            // right: -1.5%;
            bottom: 10%;
        } // @include respond-to(920) {
        //     right: -0.5%;
        // }
        // @include respond-to(1260) {
        //     right: 0.5%;
        // }
        &:after {
            content: "";
            display: inline-block;
            width: 5em;
            margin-left: 10px;
            height: 0px;
            background-image: linear-gradient(to right, transparent, rgba($base, 0.75));
            animation: scroll 1500ms ease-out infinite both;
            position: relative;
            top: -2px; // transform-origin: left;
            transition: height 300ms ease-out 1100ms;
        }
    }
    .vert-text {
        position: absolute;
        top: -1.5rem;
        left: 0;
        font-family: $alt-font-bold;
        text-transform: uppercase; // opacity: 0.5;
        font-size: 0.935em; // letter-spacing: 1px;
        letter-spacing: 2px;
        opacity: 0;
        margin-top: 4rem;
        transition: margin 400ms ease-out 2900ms, opacity 400ms ease-out 2900ms; // display: none;
        // @include respond-to(480) {
        //     top: 1.25rem;
        //     left: -3em;
        //     transform: rotate(-90deg);
        // }
        // @include respond-to(640) {
        //     top: 2em
        // }
        // @include respond-to(960) {
        //     left: -4em;
        // }
        .page-loaded & {
            margin-top: 0rem;
            opacity: 0.5;
        }
    }
    &.inviewport {
        .page-loaded & {
            .scroll {
                opacity: 1;
                right: -19px;
                &:after {
                    height: 4px;
                }
            }
            h3 {
                transform: translateY(0);
                opacity: 0.5;
            }
            .button {
                transform: scaleX(1); // &:before {
                //     width: 3em;
                //     opacity: 1;
                // }
                a {
                    &:after {
                        width: 0;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        transform-origin: left;
    }
    39% {
        transform-origin: left;
        transform: translateX(100%);
    }
    45% {
        transform: scaleX(0);
        transform-origin: left;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.profile-pic {
    height: 100%;
    width: 85%;
    position: absolute;
    right: -20%;
    top: 0;
    background-image: url("../images/edfranks.png");
    background-repeat: no-repeat;
    background-position: 100px 25px;
    background-size: cover; // opacity: 0.25;
    mix-blend-mode: multiply;
    opacity: 0;
    transform: translateX(30%);
    transition: opacity 1000ms ease-out 2800ms, transform 1000ms ease-out 2800ms;
    @include respond-to(480) {
        // background-position: 100% 25px;
        background-size: contain;
    }
    @include respond-to(600) {
        width: 70%; // background-position: 100% 25px;
    }
    @include respond-to(700) {
        background-position: 100% 25px;
    }
    @include respond-to(820) {
        width: 50%;
        right: -5%;
        background-position: 75% 25px;
    }
    .page-loaded & {
        opacity: 0.25; // right: -20%;
        transform: translateX(0);
    }
}


.bg-circle {
    background: transparent;
    height: 137vh; // padding-bottom: 60%;
    width: 137vh;
    position: absolute;
    right: -10%;
    top: -85px;
    border-radius: 70vh;
    box-shadow: inset 0 0 0 1.75em rgba(0, 0, 0, 0.015);
}

.moving-lines {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.circle {
    border-radius: 50%;
    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    &-1 {
        border: 5px solid rgba(0, 0, 0, 0.25);
        width: 3em;
        position: absolute;
        left: 40%;
        top: 15%;
        animation: circle-animation 12s ease-in-out infinite 5s both;
    }
    &-2 {
        width: 2.5em;
        border: 2px solid $base;
        position: absolute;
        opacity: 0.8;
        left: 35%;
        top: 80%;
        animation: circle-animation 18s ease-in-out infinite 8s both;
    }
    &-3 {
        width: 1.5em;
        border: 4px solid #000;
        position: absolute;
        left: 90%;
        top: 60%;
        animation: circle-animation 20s ease-in-out infinite 2s both;
    }
}

.square {
    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    &-1 {
        border: 5px solid $base;
        width: 2em;
        position: absolute;
        left: 80%;
        top: 25%;
        animation: square-animation 14s ease-in-out infinite 5s both;
    }
    &-2 {
        border: 3px solid #000;
        width: 2em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: rotate(45deg);
        animation: square-animation 13s ease-in-out infinite 1s both;
    }
    &-3 {
        box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.5); // border: 12px solid $base;
        width: 2em;
        position: absolute;
        left: 12%;
        top: 70%;
        animation: square-animation2 12s ease-in-out infinite 10s both;
    }
}

.line {
    position: absolute;
    &-1 {
        width: 6em;
        height: 5px;
        border-radius: 4px;
        background-color: $base; // transform: rotate(-45deg);
        top: 20%;
        left: 7%;
        animation: line-animation 6s ease-in-out infinite 3s both;
    }
    &-2 {
        width: 9em;
        height: 4px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.35); // transform: rotate(-45deg);
        top: 38%;
        left: 53%;
        animation: line-animation 4s ease-in-out infinite 2s both;
    }
    &-3 {
        width: 3em;
        height: 5px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.35); // transform: rotate(-45deg);
        top: 60%;
        left: 84%;
        animation: line-animation 3s ease-in-out infinite 5s both;
    }
    &-4 {
        width: 6em;
        height: 3px;
        border-radius: 4px;
        background-color: rgba($base, 0.35); // transform: rotate(-45deg);
        top: 85%;
        left: 63%;
        animation: line-animation 7s ease-in-out infinite 6s both;
    }
    &-5 {
        width: 12em;
        height: 6px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.4); // transform: rotate(-45deg);
        top: 90%;
        left: 15%;
        animation: line-animation 12s ease-in-out infinite 4s both;
    }
    &-6 {
        width: 7em;
        height: 5px;
        border-radius: 4px;
        background-color: rgba($base, 0.35); // transform: rotate(-45deg);
        top: 5%;
        left: 80%;
        animation: line-animation 8s ease-in-out infinite 10s both;
    }
}

@keyframes line-animation {
    0% {
        transform: translate(-16em, 0) scaleX(0);
        transform-origin: left;
        opacity: 0;
    }
    25% {
        transform: translate(0, 0) scaleX(1);
        opacity: 0.5;
        transform-origin: right;
    }
    50% {
        transform: translate(16em, -0) scaleX(0);
        opacity: 0;
        transform-origin: right;
    }
    100% {
        opacity: 0;
    }
}

@keyframes square-animation {
    0% {
        opacity: 0;
        transform: translate(-10em, 10em) rotate(0deg);
    }
    5% {
        opacity: 0;
    }
    25% {
        // transform: rotate(400deg);
        opacity: 0.5;
    }
    45% {
        opacity: 0;
    }
    50% {
        transform: translate(10em, -10em) rotate(800deg);
        opacity: 0;
    }
    100% {
        transform: translate(-10em, 10em) rotate(0deg);
        opacity: 0;
    }
}

@keyframes square-animation2 {
    0% {
        opacity: 0;
        transform: translate(-5em, 5em) rotate(0deg);
    }
    5% {
        opacity: 0;
    }
    25% {
        // transform: rotate(400deg);
        opacity: 0.5;
    }
    45% {
        opacity: 0;
    }
    50% {
        transform: translate(5em, -5em) rotate(400deg);
        opacity: 0;
    }
    100% {
        transform: translate(-5em, 5em) rotate(0deg);
        opacity: 0;
    }
}

@keyframes circle-animation {
    0% {
        transform: scale(0);
        transform-origin: center;
        opacity: 0;
    }
    10% {
        transform: scale(1.5);
        opacity: 0.35;
    }
    20% {
        transform: scale(0.6);
        opacity: 0.35;
    }
    30% {
        transform: scale(1.2);
        opacity: 0.35;
    }
    40% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes circle-animation2 {
    0% {
        transform: scale(0);
        transform-origin: center;
        opacity: 0;
    }
    10% {
        transform: scale(4);
        opacity: 0.25;
    }
    20% {
        transform: scale(2);
        opacity: 0.25;
    }
    30% {
        transform: scale(2.5);
        opacity: 0.25;
    }
    40% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} /////////////////////////////////////

/*Projects*/

/////////////////////////////////////
.home-section {
    position: relative;
    padding: 2.5em 0;
    // background-color: #fff;
    // @include clearfix;
    @include respond-to(600) {
        padding: 4em 0;
    }
    @include respond-to(920) {
        padding: 6em 0;
    }
}

.home-panels {
    section {
        &:nth-child(odd) {
            .project-section {
                .bg-image {
                    right: auto;
                    left: 0;
                }
                .bg-circle {
                    right: auto;
                    left: -10%;
                }
                &__content {
                    flex-direction: column;
                    @include respond-to(700) {
                        flex-direction: row;
                    }
                    &:hover {
                        .project-section__image-inner {
                            // img {
                            transform: rotateY(13deg); // }
                            @include respond-to(920) {
                                transform: rotateY(10deg) translateX(5%);
                            }
                        }
                        .project-section__info-inner {
                            // img {
                            transform: rotateY(-13deg); // }
                        }
                    }
                }
                &__image {
                    // padding-right: 0;
                    // padding-left: 2em;
                    // position: relative;
                    transform-origin: left;
                    @include respond-to(700) {
                        padding-left: 2em;
                        padding-right: 0;
                    }
                    &-inner {
                        &:after {
                            right: 0em;
                            left: auto;
                            @include respond-to(700) {
                                right: -6em;
                            }
                            @include respond-to(920) {
                                right: -4.5em;
                            }
                        }
                        &:before {
                            left: auto;
                            right: 0em;
                            @include respond-to(700) {
                                right: -6em;
                            }
                            @include respond-to(920) {
                                right: -4.5em;
                            }
                        }
                    }
                    img {
                        @include respond-to(700) {
                            margin-left: 6em;
                        }
                        @include respond-to(920) {
                            margin-left: 4.5em; // margin-right: 2em;
                        }
                    }
                }
                &__info {
                    text-align: right;
                }
                &__button {
                    margin-left: auto;
                    margin-right: 0;
                }
                &__vert {
                    top: -1.5em;
                    left: auto;
                    bottom: auto;
                    right: 0em; // transform: rotate(90deg);
                    @include respond-to(1200) {
                        top: 2.5em;
                        right: -5em;
                        transform: rotate(90deg);
                    }
                }
                &__title {
                    // margin-right: -1em;
                    margin-left: auto;
                    @include respond-to(480) {
                        // margin-right: -1.5em;
                    }
                    @include respond-to(700) {
                        margin-left: -40%;
                        margin-right: -1.5em;
                    }
                    @include respond-to(1260) {
                        margin-left: 0;
                    }
                }
                .bottom-title {
                    right: 0;
                    left: auto;
                }
                .project-details {
                    &__wrap {
                        flex-direction: row-reverse;
                        .project-details__item {
                            padding-right: 0;
                            padding-left: 1em;
                        }
                    } // &__item {
                    //     &:nth-child(2),
                    //     &:nth-child(3) {
                    //         display: inline-block;
                    //         padding-right: 0;
                    //         padding-left: 1em;
                    //         width: 50%;
                    //     }
                    // }
                }
            }
        }
    }
}

.project-section {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3em 0;
    @include respond-to(600) {
        padding: 6em 0;
    }
    .bg-circle {
        @include respond-to(820) {
            height: 90vh;
            width: 90vh;
            box-shadow: inset 0 0 0 1.25em rgba($white, 0.015);
            top: auto;
        }
    }
    .bg-image {
        height: 100%; // width: calc(100% / 6 * 2);
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0.05;
        background-size: cover; // @include respond-to(480) {
        //     width: 50%;
        // }
        @include respond-to(920) {
            // width: calc(100% / 6 * 2);
            opacity: 0.1;
        }
    }
    .bottom-title {
        position: absolute;
        bottom: -1rem;
        left: 0;
        font-family: $heading-font;
        font-weight: 700;
        font-size: ms(10);
        opacity: 0.03; // opacity: 0.3;
        line-height: 0.5;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1; // color: transparent;
        // -webkit-text-stroke-color: #fff;
        // -webkit-text-stroke-width: 1px;
        @include respond-to(480) {
            font-size: ms(12);
            bottom: -2rem;
        }
        @include respond-to(920) {
            // width: calc(100% / 6 * 4);
        }
    }
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 100%;
        align-items: center;
        padding: 0 14%;
        @include respond-to(480) {
            padding: 0 calc(100% / 6);
        }
        @include respond-to(700) {
            flex-direction: row-reverse;
            padding: 0;
        }
        @include respond-to(920) {
            // align-items: flex-start;
        }
        @include respond-to(1160) {
            align-items: center;
        }
        &:hover {
            .project-section__image-inner {
                // img {
                transform: rotateY(-13deg);
                @include respond-to(920) {
                    transform: rotateY(-10deg) translateX(-5%);
                } // }
            }
            .project-section__info-inner {
                // img {
                transform: rotateY(13deg); // }
            }
        }
    }
    &__image {
        width: 100%;
        position: relative;
        line-height: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 650ms ease-out 100ms;
        transform-style: preserve-3d;
        perspective: 600px;
        perspective-origin: center;
        @include respond-to(420) {
            width: calc(100% / 6 * 6);
        }
        @include respond-to(700) {
            width: calc(100% / 6 * 3);
            padding-right: 2em;
        } // padding-right: 2em;
        &-inner {
            transform: rotateY(0);
            transition: transform 700ms ease-out;
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: -3px;
                left: 0em;
                background-color: $base; // width: calc(100% - 2em);
                width: 100%;
                height: 100%;
                display: block;
                transition: width 400ms ease-out 850ms, opacity 10ms 1250ms ease;
                @include respond-to(700) {
                    left: -6em;
                }
                @include respond-to(920) {
                    left: -4.5em;
                }
            }
            &:after {
                background-color: $base-dark;
                transition: width 500ms ease-out 550ms;
            }
        }
        img {
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 40px 0 rgba(0, 0, 0, 0.5);
            transition: transform 500ms ease-out;
            line-height: 0;
            @include respond-to(700) {
                margin-left: -6em; // margin-left: 2em;
            }
            @include respond-to(920) {
                margin-left: -4.5em;
            }
        }
    }
    &__info {
        width: calc(100% / 6 * 5);
        width: calc(100% - 1em);
        display: flex;
        align-content: center;
        flex-direction: column; // justify-content: center;
        position: relative;
        transform-style: preserve-3d;
        perspective: 600px;
        perspective-origin: top center;
        @include respond-to(700) {
            width: calc(100% / 6 * 2);
            perspective: 800px;
            perspective-origin: center;
        }
        @include respond-to(1160) {
            justify-content: center;
        }
        &-inner {
            transform: rotateY(0);
            transition: transform 500ms ease-out;
        }
    }
    &__vert {
        position: absolute;
        top: -1.5em;
        left: 0; // transform: rotate(-90deg);
        font-family: $alt-font-bold;
        text-transform: uppercase;
        opacity: 0.75;
        opacity: 0;
        font-size: 0.935em;
        letter-spacing: 1px;
        @include respond-to(480) {
            opacity: 0;
        }
        @include respond-to(700) {
            opacity: 0.3;
        }
        @include respond-to(1200) {
            top: 2.5em;
            left: -4em;
            transform: rotate(-90deg);
        }
    }
    &__title {
        position: relative; // margin-top: -2.25em;
        // margin-top: -7em;
        margin-top: 1.5em;
        width: 95%;
        overflow: hidden; // margin-left: -1.5em;
        // min-height: 7em;
        @include respond-to(480) {
            // margin-left: -2em;
        }
        @include respond-to(700) {
            margin-top: 0; // margin-left: -1.5em;
            width: 140%;
            margin-right: -40%;
        }
        @include respond-to(1260) {
            width: auto;
            margin-right: 0;
        } // &:before {
        //     content: "";
        //     position: absolute;
        //     left: -1em;
        //     top: 0;
        //     display: block;
        //     width: calc(100% + 2em);
        //     background-color: $base;
        // }
        h1 {
            // font-size: ms(6);
            font-family: $heading-font;
            font-weight: 700;
            line-height: 1.1;
            margin-bottom: 0.25em;
            text-shadow: 0 4px 25px rgba(0, 0, 0, 0.45);
            opacity: 0;
            transform: translateY(100%);
            @include respond-to(0to480) {
                font-size: ms(5);
            }
            @include respond-to(920) {
                font-size: ms(7);
            }
            @include respond-to(1200) {
                font-size: ms(8);
            }
        }
        a {
            color: #fff;
        }
    }
    &__button {
        margin-top: 2em;
        margin-right: auto;
        @include respond-to(920) {
            margin-top: 1em;
        }
    }
    .button {
        transform: scaleX(0);
        transform-origin: left; // margin-left: 1.5rem;
        transition: transform 600ms ease-out 900ms;
        //@include respond-to(920) {
            // margin-left: 2rem;
        //}  &:before {
        //     opacity: 0;
        //     transition: opacity 400ms ease-out 3900ms;
        // }
        a {
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: $base;
                transition: width 500ms ease-out 1500ms, opacity 100ms ease-out 2100ms;
            }
        }
    }
    .active & {
        .project-section__image {
            transform: scaleX(1);
            &-inner {
                &:after,
                &:before {
                    width: 0;
                    // opacity: 0;
                }
            }
        }
        .project-section__title {
            h1 {
                animation: fade-in-up-big 600ms ease-out 600ms forwards;
            }
        }
        .project-details__item-key {
            opacity: 0.4;
            transform: translateY(0);
        }
        .project-details__item-value {
            animation: fade-in-up 500ms ease-out 1000ms forwards;
        }
        .button {
            transform: scaleX(1); // &:before {
            //     width: 3em;
            //     opacity: 1;
            // }
            a {
                &:after {
                    width: 0;
                    opacity: 0;
                }
            }
        }
    } // @include respond-to(0to740) {
    //     .active & {
    //         .project-section__image {
    //             transform: scaleX(1);
    //             &-inner {
    //                 &:after,
    //                 &:before {
    //                     width: 0;
    //                 }
    //             }
    //         }
    //         .project-section__title {
    //             h1 {
    //                 animation: fade-in-up-big 600ms ease-out 600ms forwards;
    //             }
    //         }
    //         .project-details__item-key {
    //             opacity: 0.4;
    //             transform: translateY(0);
    //         }
    //         .project-details__item-value {
    //             animation: fade-in-up 500ms ease-out 1000ms forwards;
    //         }
    //         .button {
    //             transform: scaleX(1);
    //             // &:before {
    //             //     width: 3em;
    //             //     opacity: 1;
    //             // }
    //             a {
    //                 &:after {
    //                     width: 0;
    //                     opacity: 0;
    //                 }
    //             }
    //         }
    //     }
    // }
    // @include respond-to(740) {
    //     .active & {
    //         .project-section__image {
    //             transform: scaleX(1);
    //             &-inner {
    //                 &:after,
    //                 &:before {
    //                     width: 0;
    //                 }
    //             }
    //         }
    //         .project-section__title {
    //             h1 {
    //                 animation: fade-in-up-big 600ms ease-out 600ms forwards;
    //             }
    //         }
    //         .project-details__item-key {
    //             opacity: 0.4;
    //             transform: translateY(0);
    //         }
    //         .project-details__item-value {
    //             animation: fade-in-up 500ms ease-out 1000ms forwards;
    //         }
    //         .button {
    //             transform: scaleX(1);
    //             // &:before {
    //             //     width: 3em;
    //             //     opacity: 1;
    //             // }
    //             a {
    //                 &:after {
    //                     width: 0;
    //                     opacity: 0;
    //                 }
    //             }
    //         }
    //     }
    // }
}

.project-section__details {
    font-size: 0;
    display: none;
    @include respond-to(920) {
        display: block;
    }
}

.project-details {
    &__wrap {
        display: flex;
        .project-details__item {
            display: inline-block;
            padding-right: 1em;
            width: 50%;
        }
    }
    &__item {
        font-size: 0.875rem;
        padding-bottom: 0.5em;
        align-self: flex-start;
        overflow: hidden;
        @include respond-to(1060) {
            font-size: 1rem;
        } // &:first-child {
        //     width: 100%;
        // }
        // &:nth-child(2),
        // &:nth-child(3) {
        //     display: inline-block;
        //     padding-right: 1em;
        //     width: 50%;
        // }
        &:nth-child(3) {
            padding-left: 2px;
        }
        &-key,
        &-value {
            display: block;
            font-size: 0.935em;
            opacity: 0;
            transform: translateY(20px);
        }
        &-key {
            font-family: $alt-font-semibold; // opacity: 0.4;
            // font-size: 0.935em;
            font-size: 0.875em;
            letter-spacing: 1px;
            line-height: 2;
            font-weight: normal;
            text-transform: uppercase;
            transition: opacity 500ms ease-out 800ms, transform 500ms ease-out 800ms;
        }
        &-value {
            font-weight: 500;
            font-family: $heading-font; // font-size: 0.875em;
        }
    }
}

.about {
    position: relative; // padding-top: 20em;
    @include respond-to(0to600) {
        padding-top: 24em;
        padding-bottom: 6em;
    } // @include respond-to(480to620) {
    //     padding-top: 6em;
    // }
    .bg-img {
        position: absolute;
        left: 15%;
        height: 22em;
        bottom: 0;
        width: 75%;
        top: 1.5rem;
        background: {
            size: contain;
            repeat: no-repeat;
            position: -20px 50%;
        }
        transform: translateX(-100%);
        opacity: 0;
        @include respond-to(600) {
            // background-position: -110px 75%;
            background-position: -110px 50%;
            background-position: -120px 28%; // top: auto;
            top: 0;
            height: 100vh;
            left: 0;
        }
        @include respond-to(820) {
            width: 50%;
            background-position: 0% 50%;
        }
    }
    .about-section__content {
        width: 77%;
        margin-right: 10%;
        margin-left: 13%;
        opacity: 0;
        transform: translateY(20px); // font-size: 0.9375em;
        // @include respond-to(420) {
        //     width: 70%;
        // }
        @include respond-to(480) {
            width: calc(100% / 6 * 4);
            margin-right: auto;
            margin-left: calc(100% / 6 * 1); // font-size: 0.935em;
            // padding-right: 2em;
        }
        @include respond-to(600) {
            width: calc(100% / 6 * 3);
            margin-right: auto;
            margin-left: calc(100% / 6 * 2); // font-size: 0.935em;
            // padding-right: 2em;
        }
        @include respond-to(920) {
            width: calc(100% / 6 * 2);
            flex-basis: calc(100% / 6 * 2);
            margin-left: auto;
            margin-right: calc(100% / 6 * 1); // padding-right: 1em;
        }
        h6,
        p {
            opacity: 0.7;
            margin: 1.75em 0 0.5em; // padding-left: 1.5rem;
            @include respond-to(420) {
                padding-left: 1.5rem;
            }
            @include respond-to(920) {
                padding-left: 0;
            }
        }
        h6 {
            font-size: 17px;
        }
        p {
            // margin: 2em 0 0.75em;
            color: #989898;
        } // h6 {
        //     font-size: 1.0625rem;
        // }
        // p{
        //     font-size: 0.937rem;
        // }
    }
    .about-section__vert {
        position: absolute;
        top: -1.5em;
        left: 0em; // transform: rotate(-90deg);
        font-family: $alt-font-bold;
        text-transform: uppercase;
        opacity: 0.3;
        font-size: 0.935em;
        letter-spacing: 1px;
        @include respond-to(480) {
            top: 1em;
            left: -2.5em;
            transform: rotate(-90deg);
        }
    }
    .about-section__title {
        position: relative;
        @include respond-to(920) {
            margin-left: -1.25em;
        }
        h1 {
            // font-size: ms(7);
            font-family: $heading-font;
            font-weight: 700;
            line-height: 1.1;
            margin-bottom: 0.25em;
            @include respond-to(920) {
                font-size: ms(7);
            }
        }
    }
    &.active {
        .bg-img {
            animation: fade-in-left-big 1000ms ease-out 100ms forwards;
        }
        .about-section__content {
            animation: fade-in-up 1000ms ease-out 300ms forwards;
        }
    }
}

.bottom-title {
    position: absolute;
    bottom: -1rem;
    right: 0;
    font-family: $heading-font;
    font-weight: 700;
    font-size: ms(10);
    opacity: 0.04;
    line-height: 0.8;
    line-height: 1;
    white-space: nowrap;
    @include respond-to(480) {
        font-size: ms(12);
        bottom: -2rem;
    } // @include respond-to(920){
    // }
}

.contact {
    @include respond-to(0to600) {
        padding: 10em 0;
    }
}

.contact-section__content {
    width: 70%;
    margin-left: 13%;
    font-size: 0.875em;
    @include respond-to(480) {
        width: calc(100% / 6 * 4);
        margin-left: calc(100% / 6 * 1);
        margin-right: calc(100% / 6 * 1);
    }
    @include respond-to(1030) {
        margin-left: auto;
        width: calc(100% / 6 * 3);
        font-size: 1em;
    }
}

.contact-section__vert {
    position: absolute;
    top: -1.5em;
    left: 0em; // transform: rotate(-90deg);
    font-family: $alt-font-bold;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 0.935em;
    font-size: ms(0);
    letter-spacing: 1px;
    @include respond-to(480) {
        top: 1.5em;
        left: -3em;
        transform: rotate(-90deg);
    }
}

.contact-section__title {
    position: relative;
    overflow: hidden;
    @include respond-to(700) {
        margin-left: -1.5em;
    }
    h1 {
        // font-size: ms(8);
        font-family: $heading-font;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 0.5em;
        opacity: 0;
        transform: tranlateY(20px);
        @include respond-to(920) {
            font-size: ms(8);
        }
    }
    .active & {
        h1 {
            animation: fade-in-up 700ms ease-out 200ms forwards;
        }
    }
}

.contact-section__content {
    .eyebrow {
        font-size: ms(0);
        font-family: $alt-font-semibold;
        color: #fff;
        opacity: 0.5;
        text-transform: uppercase;
        letter-spacing: 1px; //font-weight: 600;
        opacity: 0;
        transform: translateX(20px);
        transition: opacity 700ms ease-out 500ms, transform 700ms ease-out 500ms;
    }
    .active & {
        .eyebrow {
            // animation: fade-in-right 700ms ease-out 300ms forwards;
            opacity: 0.6;
            transform: translateX(0);
        }
    }
}

.email-link,
.social-link {
    font-size: ms(3);
    color: #fff;
    font-family: $heading-font;
    font-weight: 600;
    opacity: 0;
    transform: translateY(20px);
    @include respond-to(600) {
        font-size: ms(5);
    }
    &:hover {
        text-decoration: underline;
        color: #fff;
    }
}

.email-link {
    margin-bottom: 0.5em;
    display: block;
    .active & {
        animation: fade-in-up 700ms ease-out 1000ms forwards;
    }
}

.social-link {
    display: inline-block;
    &.Dribbble {
        margin-right: 1em;
        .active & {
            animation: fade-in-up 700ms ease-out 1100ms forwards;
        }
        &:hover {
            color: #ea4c89;
        }
    }
    &.Behance {
        .active & {
            animation: fade-in-up 700ms ease-out 1200ms forwards;
        }
        &:hover {
            color: #0b7dff;
        }
    }
}