<section class="about side-panel" id="about-section about"
    data-anchor="about">
    <div class="lines">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="side-panel__inner">
        <div class="bg-img" style="background-image: url('/grav-admin/user/pages/01.home/_about/about-pic.png');"></div>
        {# <div class="bottom-title">About Me</div> #}
        <div class="about-section__content">
            <div class="about-section__content--inner">
                <div class="about-section__title">
                    <h1>About Me</h1>
                    <div class="about-section__vert">
                        A Bit
                    </div>
                </div>
                <h6>I’ve worked as a designer/developer at The Smarter Web Company for the last 6 years, where i have worked
                    with a wide range of clients from Restaurants to racehorse trainers.</h6>
                <h6>I Love to design, especially web design, logos and typography and enjoy learning new web skills and techniques.</h6>
                <p>Football addict, massive tottenham hotspur fan. Likes rock music (foo fighters, blink 182, red hot chili
                    peppers etc).</p>
            </div>
        </div>
        <div class="close-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                <title>cross</title>
                <g id="cross-button">
                    <circle class="cross-circle" cx="250" cy="250" r="240" />
                    <line class="cross-bar1" x1="158" y1="158" x2="342" y2="342" />
                    <line class="cross-bar2" x1="158" y1="342" x2="342" y2="158" />
                </g>
            </svg>
        </div>
    </div>
</section>
<section class="contact side-panel" data-anchor="contact">
    <div class="lines">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="side-panel__inner">
        
        {# <div class="bottom-title">Get in touch</div> #}
        <div class="contact-section__content">
            <div class="contact-section__content--inner">
                <div class="contact-section__title">
                    <h1>Get in touch</h1>
                    <div class="contact-section__vert">
                        Contact
                    </div>
                </div>
                <div class="eyebrow">Email me</div>
                <a class="email-link" href="hi@edfranksdesign.co.uk">
                    hi@edfranksdesign.co.uk
                </a>
                <div class="eyebrow">Find me on</div>
                <a class="social-link Dribbble" href="https://dribbble.com/edfranks84" target="_blank" style="color:#ea4c89;">
                    Dribbble
                </a>
                <a class="social-link Behance" href="https://www.behance.net/edfranks" target="_blank" style="color:#0b7dff;">
                    Behance
                </a>
            </div>
        </div>
        <div class="close-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                <title>cross</title>
                <g id="cross-button">
                    <circle class="cross-circle" cx="250" cy="250" r="240" />
                    <line class="cross-bar1" x1="158" y1="158" x2="342" y2="342" />
                    <line class="cross-bar2" x1="158" y1="342" x2="342" y2="158" />
                </g>
            </svg>
        </div>
    </div>
</section>